body {
  background-color: #EEEEEE;
}

.register-form__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.register-from__card {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #e9eaea;
  border-radius: 5px;
  margin-top: 80px;
  box-shadow: 3px 3px 3px #ACACAC;
  background-color: #fff;
}

.register-form__card--heading {
  padding: 10px 25px;
  height: 70px;
  background: #3B5CF6;
  color: #fff;
  font-size: 14px;
  border-radius: 5px 5px 0px 0px;
}

.register-form__card--ttl {
  margin-top: 10px;
  font-size: 20px;
}

input {
  height: 30px;
}

.form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.form__group {
  margin-bottom: 5px;
}

.form__group-content {
  height: 50px;
}

.form__group-title {
  text-align: left;
}

.form__error {
  height: 20px;
  margin-left: 60px;
  color: #ff0000;
  text-align: left;
}

.form__input--text {
  position: relative;
  margin-bottom: 20px;
}

.form__input--text input {
  border: none;
  border-bottom: 1px solid #000000;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  appearance: none;
}

.user-name {
  margin-top: 30px;
}

.user-name::placeholder {
  font-size: 18px;
}

.email {
  margin-top: 30px;
}
.email::placeholder {
  font-size: 18px;
}

.password {
  margin-top: 30px;
}

.password::placeholder {
  font-size: 18px;
}

.form__input--text input:focus {
  outline: none;
}

select.select-shop {
  margin-top: 10px;
  width: 80%;
  height: 30px;
}

.form__button {
  text-align: right;
  margin-bottom: 30px;
}

.form__button-submit {
  margin-right: 30px;
}

.form__button-submit {
  margin-top: 50px;
  width:  15%;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: #3B5CF6;
  color: #fff;
  cursor: pointer;
}