body {
    background-color: #EEEEEE;
}

.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-from__card {
    margin: 0 auto;
    width: 400px;
    border: 1px solid #e9eaea;
    border-radius: 5px;
    margin-top: 80px;
    box-shadow: 3px 3px 3px #ACACAC;
    background-color: #fff;
}

.form {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.form__group {
    margin-top: 100px;
}

.form__group-content {
    text-align: center;
    height: 90px;
    font-size: 20px;
}

.form__button {
    text-align: center;
}

.form__button {
    margin-bottom: 100px;
}

.form__button-submit {
    width: 15%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #3B5CF6;
    color: #fff;
    cursor: pointer;
}
