body {
  text-align: center;
}

a {
text-decoration: none;
color: inherit;
}
.header {
display: flex;
justify-content: space-between;
align-items: center;
height: 70px;
padding: 0 30px;
background-color: #fff;
color: #000;
}

.header-ttl {
font-size: 30px;
width: 30%;
}

.header-nav {
  display: inline-block;
  padding: 5px 10px;
  background-color:#3B5CF6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px #778ca3;
  margin-top: 50px;

}

th {
  padding: 10px;
  background: #EEEEEE;
  border: solid 1px #778ca3;
  color: #000000;
}

td {
  padding: 10px;
  border: solid 1px #778ca3;
  background: #fff;
  color: #000000;
}









